* {
  font-family: "Times New Roman", Times, serif;
}


h1 {
  color: Purple;
}


p, 
li {
  font-size: 18px;
  color:purple;
  font-weight: bold;
  border: 2px white;
}


a {
  text-decoration: none;
}

body {
  background-color: black;
}
td{
  border: 2px white;
}
th{
  border: 2px white;
}
tr{
  border: 2px white;
}
tbody{
  color: white;
}

