* {
  font-family: "Times New Roman", Times, serif;
}


h1 {
  color: black;
  text-shadow: 0 0 15px #FFFFFF, 0 0 5px #ffffff;
  text-align:center;
}


p, 
li {
  font-size: 24px;
  color: White;
  font-weight: bold;
  border: 2px white;
}


a {
  text-decoration: none;
}

body {
  background-image: linear-gradient(Black,Blue,Purple);
}
td{
  border: 2px solid white;
  color:white;
  width: 300px;
}
th{
  border: 2px solid white;
  color:white;
}
tr{
  border: 2px solid white;
.springfield{
  text-align: Left;
}
.Chicago{
  text-align: Center;
  }
.Arlington Heights{
  text-align: Right;
}
div {
     text-align: center;
     display: inline-block;
}

img {
     vertical-align:middle;
}
#row{
  text-align:center;
  vertical-align:middle;
}
