* {
  font-family: "Times New Roman", Times, serif;
}


h1 {
  color: black;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}


p, 
li {
  font-size: 24px;
  color:black;
  font-weight: bold;
  border: 2px white;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}


a {
  text-decoration: none;
}

body {
  background-color: black;
}
td{
  border: 2px solid white;
  color:white;
}
th{
  border: 2px solid white;
  color:white;
}
tr{
  border: 2px solid white;
}


